/*********************
        Variables
*********************/

$primary-color: #5AE374;
$secondary-color: #4AB1F6;
$tertiary-color: #B274DE;
$gray-color: #404141;
$site-border-radius: 3px;
$site-border-width: 1px;
$site-font-family: Helvetica, sans-serif;
$site-content-width: 960px;
