/*********************
      Navigation
*********************/

nav {
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  background-color: rgba($secondary-color, .7);

  ul {
    list-style: none;
    display: flex;
    align-items: center;
    justify-content: space-around;

    .logo {
      height: 80px;
      color: white;
      text-decoration: none;
      transition: color .3s;

      &:hover,
      &:focus {
        color: $tertiary-color;
      }
    }

    li:first-child {
      margin-right: auto;
    }

    li:nth-of-type(2) {
      margin-left: auto;
    }

    li {
      margin-right: 2em;

      .menubutton {
        @include button;
        padding: 10px 20px;
        transition: background-color .3s;

        &:hover,
        &:focus {
          background-color: $primary-color;
          border-color: $primary-color;
        }
      }
    }
  }
}
