/*********************
    Contact Form
*********************/

.contact-wrap {
  @include flexible-content-area;
  margin: 0 auto 2em;

  h2 {
    width: 100%;
    text-align: center;
  }

  input {
    padding: 10px;
    margin-right: 1em;
    border-radius: $site-border-radius;
    border-width: $site-border-width;
    border-style: solid;
    border-color: lighten($gray-color, 40%);
    @media screen and (min-width: 412px) {
      margin-right: 2em;
    }
  }

  input:last-child {
    margin-right: 0;
  }

  input:focus,
  textarea:focus {
    border-color: $primary-color;
  }

  .message {
    width: 412px;
    height: 8em;
    border-radius: $site-border-radius;
    border-color: lighten($gray-color, 40%);
  }

  .my-button-submit {
    @include button;
    color: $secondary-color;
    display: block;
    width: 412px;
    text-align: center;
    transition: color .3s,
                background-color .3s;

    &:hover,
    &:focus {
      color: white;
      background-color: $secondary-color;
    }
  }
}
